
@import '--breakpoints';
@import '--colors';


@import '_normalize';
@import '_box-sizing';
@import '_background-size';
@import '_borders';
@import '_border-colors';
@import '_border-radius';
@import '_border-style';
@import '_border-widths';
@import '_box-shadow';
@import '_code';
@import '_coordinates';
@import '_clears';
@import '_display';
@import '_flexbox';
@import '_floats';
@import '_font-family';
@import '_font-style';
@import '_font-weight';
@import '_forms';
@import '_heights';
@import '_letter-spacing';
@import '_line-height';
@import '_links';
@import '_lists';
@import '_max-widths';
@import '_widths';
@import '_overflow';
@import '_position';
@import '_opacity';
@import '_skins';
@import '_spacing';
@import '_tables';
@import '_text-decoration';
@import '_text-align';
@import '_text-transform';
@import '_type-scale';
@import '_typography';
@import '_utilities';
@import '_visibility';
@import '_white-space';
@import '_vertical-align';
@import '_hovers';


@import '_flex-grids';

/*@import '_media-queries';*/
/*@import '_debug_children';*/
/* @import '_debug'; */

:root {
	--background: #e;
	--color: #0;
	--primary: #c00;
	--danger-theme: {
		color: #fff;
		background-color: var(--color);
	};
}

body {

	color: var(--color);
	transition: 2s;

	& > div {
		@extend .pt5;

		background-color:transparent;
		background-image: 
		linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,0,.05) 1px, transparent 1px),
		linear-gradient(rgba(0,0,0,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,0,.03) 1px, transparent 1px);
		background-size:96px 96px, 96px 96px, 1.5rem 1.5rem, 1.5rem 1.5rem;
		XXbackground-position:-1px -1px, -1px -1px;
	}
}


/* {@Shaggy} Particles => */
/* =================== => */
.Header {
	@extend .bg-black-50;
	@extend .fixed;
	@extend .top-0;
	@extend .w-100;
	@extend .pa1;
	& nav {
		@extend .mw9;
		@extend .center;
		@extend .f4;
		@extend .fw6;
		@extend .ttu;
		@extend .tracked;
		& a {
			@extend .link;
			@extend .dim;
			@extend .white;
			@extend .dib;
		}
		& a:not(:last-child) {
			@extend .mr5;
		}
	}
}

.Main {
	@extend .mw9;
	@extend .center;
}

.Article {
	@extend .cf;
	& > b {
		@extend .fl;

		@extend .w-100;
		@extend .w-50-ns;
		@extend .w-50-m;
		@extend .w-50-l;
		@extend .bg-white-10;
		@extend .pa4;
	}
}

.Buttons {
	& > a {
		@extend .XXma-1; /* margin all minus one */
		margin-top: -2px; /* for the borders */
		@extend .flex-one;

		@extend .link;
		@extend .dim;
		@extend .gray;
		@extend .dib;
		@extend .xxh1;
		@extend .xxw1;
		@extend .br2;
		@extend .pa1;
		@extend .bg-white-80;
		@extend .ba;
		@extend .b--black-20;

	line-height: 1;
    -webkit-appearance: none;
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    position: relative;
    vertical-align: top;
    justify-content: center;
    white-space: nowrap;

	}
	& > a:not(:last-child) {
		@extend .mr1;
	}
}
.Buttons:not(:last-child) {
	margin-bottom: 1.5rem;
	margin-top: 5rem;
}
.Buttons.is-fullwidth {
	@extend .flex;
	@extend .justify-between;
	& > a {
		@extend .flex-one;
		@extend .tc;
	}
}

.Footer {
	@extend .pa1;
	@extend .tc;
	& > a {
		@extend .link;
		@extend .dim;
		@extend .gray;
		@extend .dib;
		@extend .h1;
		@extend .w1;
		@extend .br2;
		@extend .pa1;
		@extend .bg-white-80;
		@extend .ba;
		@extend .b--black-20;
	}
	& > a:not(:last-child) {
		@extend .mr1;
	}
}
