
@import '--breakpoints';
@import '--colors';


@import '_normalize';
@import '_box-sizing';
@import '_background-size';
@import '_borders';
@import '_border-colors';
@import '_border-radius';
@import '_border-style';
@import '_border-widths';
@import '_box-shadow';
@import '_code';
@import '_coordinates';
@import '_clears';
@import '_display';
@import '_flexbox';
@import '_floats';
@import '_font-family';
@import '_font-style';
@import '_font-weight';
@import '_forms';
@import '_heights';
@import '_letter-spacing';
@import '_line-height';
@import '_links';
@import '_lists';
@import '_max-widths';
@import '_widths';
@import '_overflow';
@import '_position';
@import '_opacity';
@import '_skins';
@import '_spacing';
@import '_tables';
@import '_text-decoration';
@import '_text-align';
@import '_text-transform';
@import '_type-scale';
@import '_typography';
@import '_utilities';
@import '_visibility';
@import '_white-space';
@import '_vertical-align';
@import '_hovers';


@import '_flex-grids';

/*@import '_media-queries';*/
/*@import '_debug_children';*/
/* @import '_debug'; */

:root {
	--background: #e;
	--color: #0;
	--primary: #c00;
	--danger-theme: {
		color: #fff;
		background-color: var(--color);
	};
}

body {
	background: url(https://hd.unsplash.com/photo-1446057468532-87b7525217d6);
	background-size: cover;




	color: var(--color);
	transition: 2s;
	font-size: 2em;
	font-weight: 100;

	& > div {
		background-color:transparent;
		background-image: 
		linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,0,.05) 1px, transparent 1px),
		linear-gradient(rgba(0,0,0,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(0,0,0,.03) 1px, transparent 1px);
		background-size:60px 60px, 60px 60px, 20px 20px, 20px 20px;
		background-position:-1px -1px, -1px -1px, -1px -1px, -1px -1px;
	}
}


/* {@Shaggy} Particles => */
/* =================== => */


.Main {
	@extend .mw9;
	@extend .margin-auto;
}

.Article {
	@extend .cf;
	& > b {
		@extend .fl;

		@extend .w-100;
		@extend .w-50-ns;
		@extend .w-50-m;
		@extend .w-50-l;
		@extend .bg-white-10;
		@extend .pa4;
	}
}

.Header {
	@extend .bg-black-10;
	@extend .fixed;
	@extend .w-100;
	@extend .pa3;
	& nav {
		@extend .mw5;
		@extend .f4;
		@extend .fw6;
		@extend .ttu;
		@extend .tracked;
		& a {
			@extend .link;
			@extend .dim;
			@extend .white;
			@extend .dib;
		}
		& a:not(:last-child) {
			@extend .mr5;
		}
	}
}

.Footer {
	@extend .pa4;
	@extend .tc;
	& > a {
		@extend .link;
		@extend .dim;
		@extend .gray;
		@extend .dib;
		@extend .h2;
		@extend .w2;

		@extend .br4;

		@extend .mr3;
		@extend .pa2;
		@extend .bg-near-white;
		@extend .ba;
		@extend .b--black-10;
	}
}
